body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;;
    font: 1.2em;
    margin: 0 auto;
    background-image: url(images/noise.png);
    background-repeat: repeat;

}

h1,
h2, h3 {
    font-family: 'Cinzel',Copperplate, Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px grey;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3{ 
    font-size: 1.5em;
}
article {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 0 1em;
    background-image: /*url(images/derivative.svg), url(images/integral.svg), */linear-gradient(black, blue, black);
    background-repeat: no-repeat;
    /*background-position: 10% center, 90% center;*/
    text-align: center;
    padding: 1em;
}

header h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px black;
    color: white;
}

header h1:nth-child(odd) {
    font-size: 1.7rem;
}

footer {
    text-align: right;
    padding-right: 1em;
    margin: 1em auto;
    border-top: 2px solid black;
    padding-top: 1em;
}

button { 
    font-family: inherit; 
    font-size: 100%; 
    box-sizing: border-box; 
    padding: 10px; margin: 0.5em; 
    border-radius: 10px;
    box-shadow: none;
    background-color: darkblue;
    color: white;
    border: 4px double cornflowerblue;

    
} 

button:hover {
    background-color: cornflowerblue;
    color: black;
    border: 4px double darkblue;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
 }


textarea { 
    overflow: auto;
}

.wrapper {
    margin-left: 1em;
}
.directions {
    margin-left: 1em;
    max-width: 800px;
}
#ggbApplet {
    width: 500px;
    height: 450px;
    border: 2px solid black;
}

#ggbApplet2 {
    width: 500px;
    height: 450px;
    border: 2px solid black;
}

#p_feedback {
    color: red;
}

@media screen and (min-width: 1075px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* spacing */

table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid darkblue;
  }
  
  thead th:nth-child(1) {
    width: 50%;
  }
  
  thead th:nth-child(2) {
    width: 50%;
  }
  
  th, td {
    padding: 10px;
  }

  /* graphics and colors */

thead, tfoot {
    background: darkblue;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, darkblue, blue, darkblue);
    border: 3px solid darkblue;
  }

  /* zebra striping */

tbody tr:nth-child(odd) {
    background-color: rgba(240, 250, 256, 1);
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(190, 225, 256, 1);
  }
  
  table {
    background-color: darkblue;
  }